%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
    [
{% if target_miner_key == False %}
      {key, undefined},
{% endif %}
      {seed_nodes, "{{ seed_node }},/ip4/18.217.27.26/tcp/2154,/ip4/35.161.222.43/tcp/443,/ip4/99.80.158.114/tcp/2154,/ip4/3.66.43.167/tcp/443,/ip4/52.220.121.45/tcp/2154,/ip4/54.207.252.240/tcp/443,/ip4/3.34.10.207/tcp/2154,/ip4/13.238.174.45/tcp/443"},
      {snapshot_memory_limit, 1000}
    ]},
  {miner,
    [
     {jsonrpc_ip, {0,0,0,0}}, %% bind jsonrpc to host when in docker container

     {use_ebus, false},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
