logs:
  configs:
    - name: promtail
      positions:
        filename: /tmp/positions.yaml

      clients:
        - url: {{ target_loki_server }}

      scrape_configs:
      - job_name: system
        static_configs:
        - targets:
            - localhost
          labels:
            miner: {{ target_hostname }}
            job: varlogs
            __path__: /host/root/var/log/*log

      - job_name: containers
        static_configs:
        - targets:
            - localhost
          labels:
            miner: {{ target_hostname }}
            job: containerlogs
            __path__: /host/root/var/lib/docker/containers/*/*log
        pipeline_stages:
        - json:
            expressions:
              output: log
              stream: stream
              attrs:
        - json:
            expressions:
              tag:
            source: attrs
        - regex:
            expression: (?P<container_name>(?:[^|]*[^|]))
            source: tag
        - timestamp:
            format: RFC3339Nano
            source: time
        - labels:
            stream:
            container_name:
        - output:
            source: output

      - job_name: minerlogs
        static_configs:
        - targets:
            - localhost
          labels:
            miner: {{ target_hostname }}
            job: minerlogs
            __path__: /host/root/home/pi/miner_data/log/console.log
        pipeline_stages:
        - match:
            selector: '{job="minerlogs"}'
            stages:
            - regex:
                expression: '^(?P<timestamp>\d{4}-\d{2}-\d{2}\s\d{1,2}\:\d{2}\:\d{2}\.\d{3})\s+'
            - timestamp:
                format: '2006-01-02 15:04:05.000'
                source: timestamp
        - multiline:
            firstline: '^\d{4}-\d{2}-\d{2}\s\d{1,2}\:\d{2}\:\d{2}\.\d{3}'
            max_wait_time: 3s
metrics:
  wal_directory: /tmp/agent
  wal_cleanup_age: 12h
  wal_cleanup_period: 30m
  global:
    scrape_interval: 15s
    scrape_timeout: 5s
    external_labels:
      miner: {{ target_hostname }}
    remote_write:
      - url: {{ prometheus_remote_write_endpoint }}
        basic_auth:
          username: {{ prometheus_remote_write_username }}
          password: {{ prometheus_remote_write_password }}
  configs:
{% if enable_cadvisor %}
    - name: cadvisor
      scrape_configs:
        - job_name: cadvisor
          scrape_interval: 20s
          scrape_timeout: 10s
          static_configs:
            - targets: ["cadvisor:8080"]
          relabel_configs:
            - source_labels: [__address__]
              regex: ".*"
              target_label: instance
              replacement: {{ target_hostname }}
            - source_labels: [__address__]
              regex: ".*"
              target_label: node
              replacement: {{ target_hostname }}
{% endif %}
{% if enable_docker_daemon_metrics %}
    - name: docker-daemon
      scrape_configs:
        - job_name: docker-daemon
          scrape_interval: 20s
          scrape_timeout: 10s
          static_configs:
            - targets: ["host.docker.internal:{{ docker_daemon_metrics_port }}"]
          relabel_configs:
            - source_labels: [__address__]
              regex: ".*"
              target_label: instance
              replacement: {{ target_hostname }}
            - source_labels: [__address__]
              regex: ".*"
              target_label: node
              replacement: {{ target_hostname }}
{% endif %}

{% if enable_json_exporter %}
    - name: json-exporter
      scrape_configs:
      - job_name: json_exporter
        scrape_interval: 300s
        scrape_timeout: 5s
        static_configs:
          - targets:
            - json-exporter:7979
    - name: miner-json-exporter
      scrape_configs:
        - job_name: miner-json-exporter
          metrics_path: /probe
          scrape_interval: 900s
          scrape_timeout: 15s
          static_configs:
            - targets: ["http://miner:4467/"]
          relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: json-exporter:7979
{% endif %}
integrations:
  node_exporter:
    enabled: true
    rootfs_path: /host/root
    sysfs_path: /host/sys
    procfs_path: /host/proc
    relabel_configs:
    - source_labels: [__address__]
      regex: ".*"
      target_label: instance
      replacement: {{ target_hostname }}
    - source_labels: [__address__]
      regex: ".*"
      target_label: node
      replacement: {{ target_hostname }}